{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $signingkey := promptStringOnce . "signingkey" "GPG or SSH signing key" -}}

[data]
  email = {{ $email | quote }}
  signingkey = {{ $signingkey | quote }}

[git]
  autoCommit = true
  autoPush = true

